body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*text-align: center; */
  
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  padding: 10;
  background: #ccc;
}

img {
  /*display: block;
  margin-right: auto;
  margin-left: auto;*/
  text-align: center;
}

figcaption {
  text-align: center;
}

#featured-property p{
  width: 800px;
  text-align: center;
  
}

#details > div {
  float: left;
  text-align: center;
  width: 25%;
  background: red;
}

